<html>
<title>DoenAir</title>
<head>
	<link rel="stylesheet" href="mystyle.css">
</head>
<body background="https://images.wallpaperscraft.com/image/single/airplane_sky_flight_clouds_height_118356_3840x2160.jpg" alt="Plane" style="width:100%;height:100%" bgproperties=fixed style="margin:0px">
<div id="navbar" style="height:50px;display:flex;align-items:center;justify-content:right;position:absolute;top:0;width:100%;background:white;z-index:2;">
	<a href="/" style="margin:50px;font-size:20px;color:black;text-decoration:none">Home</a>
</div>
	<div style="margin:100px;border-radius:25px;box-shadow:0px 0px 10px black;padding:20px;background:white">
	{% for item in result %}
		<h2>{{item}}</h2>
	{% endfor %}
	{% for item in data %}
		<div>
			<h2>Seats reservated at flight {{item[0]}}</h2>
			<h3>From: {{item[1][3]}}  To: {{item[1][4]}}  Departure At:  {{item[1][6]}} - {{item[1][7]}}</h3>
			<div style="display:flex; justify-content:center">
			{% for seats_height in range(item[1][10]) %}
				<div style="width:min-content;margin:0px 10px 0px 10px">
					<p style="text-align:center;margin: 5px 0px 2px 0px">{{"ABCDEFGHIJKLMNOPQRSTUVWXYZ"[seats_height]}}</p>
					{% for seats_width in range(item[1][11]) %}
					
						{%if 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[seats_height]+seats_width|string in item[1][12]%}
							<p style="background:green;height:40px;width:40px;border:none;border-radius:5px;margin:5px;box-shadow:4px 2px;" onclick="chooseSeat('{{'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[seats_height]}}'+{{seats_width}}, '{{item[1]}}', {{item[8]}}, true)" style="margin:1px 0px 1px 0px">{{seats_width}}</p>
						{% else %}
							<p style="background:grey;height:40px;width:40px;border:none;border-radius:5px;margin:5px;box-shadow:4px 2px;" onclick="chooseSeat('{{'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[seats_height]}}'+{{seats_width}}, '{{item[1]}}', {{item[8]}}, false)" style="margin:1px 0px 1px 0px">{{seats_width}}</p>
						{% endif %}
						
					{% endfor %}
				</div>
			{% endfor %}	
			</div>
		</div>
	{% endfor %}
	</div>
</body>
</html>
