<html>
<head>
    <title>DoenAir Seats</title>
    <link rel="stylesheet" href="mystyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <style>
    /* DoenAir chart style */
    .doenair-chart{
        background-color: lightsteelblue;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px BLACK;
    }
    /* DoenAir table style */
    .doenair-table{
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px BLACK;
    }
    /* DoenAir table cells style */
    .doenair-table th, .doenair-table td{
        padding: 10px;
    }
    </style>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="doenair-table">
            <h1>Seats</h1>
            <table>
                <tr>
                    <th>seat_number</th>
                    <th>is_reserved</th>
                    <th>reserved_by</th>
                </tr>
                {% for seat in seats %}
                <tr>
                    <td>{{ seat[0] }}</td>
                    <td>{{ seat[1] }}</td>
                    <td>{{ seat[2] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="doenair-chart chart-container" style="width: 800px; height: 400px; display: flex; justify-content: center; align-items: center;">
        <canvas id="seatsChart"></canvas>
		<script>
            var ctx = document.getElementById('seatsChart').getContext('2d');
            var seatsChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Free Seats', 'Occupied Seats'],
                    datasets: [{
                        label: '# of Seats',
                        data: [{{ free_seats }}, {{ occupied_seats }}],
                        backgroundColor: [
                            'rgba(0, 128, 0, 0.7)', // green for free seats
                            'rgba(255, 0, 0, 0.7)' // red for occupied seats
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: 'black',
                            fontSize: 20
                        }
                    }
                }
            });
        </script>
	</body>
</html>
