#navbar {
  position: fixed;
  top: 0;
	left: 0;
  width: 100%;
  z-index: 2;
}

table {
  margin-top: 700px; /* add space above the table */
  width: 60%;
  margin-left: 300px;
  margin-bottom: 80px;
  font-family: Helvetica; /* set the font to Helvetica */
  font-size: 14px;
  color: white;
  text-align: center;
  
}

tr:nth-child(even) {

  background-color: hsl(217, 100%, 13%);  
  text-align: center;
}

td {
  padding-left: 30px;
  padding-right: 30px;
}

