<html>
<title>DoenAir</title>
<head>
	<link rel="stylesheet" href="mystyle.css">
</head>
<body style="margin:0px">
<div style="display:flex;flex-direction:row;justify-content:space-around">
	<div style="padding:25px;width:500px">
		<form method="post">
			<div style="display:flex;flex-direction:column">
				<h1>Add a flight to the system</h1>
				<div style="display:flex;flex-direction:column;padding:0px 50px">
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>PlaneID</h2>
						<input type="text" name="planeid">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Company</h2>
						<input type="text" name="company">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Start</h2>
						<input type="text" name="start">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Destination</h2>
						<input type="text" name="destination">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Duration</h2>
						<input type="text" name="duration">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Date</h2>
						<input type="text" name="date">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Time</h2>
						<input type="text" name="time">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Prize</h2>
						<input type="text" name="prize">
					</div>
					<h1>Add a plane to the system</h1>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Rows</h2>
						<input type="text" name="seat_height">
					</div>
					<div style="display:flex;flex-direction:row;justify-content:space-between;">
						<h2>Row length</h2>
						<input type="text" name="seat_width">
					</div>
				</div>
				{% for message in data[2] %}
					<h1 style="text-align:center;color:#b10000">{{message}}</h1>
				{% endfor %}
				<button type="submit" style="height:50px;margin-top:50px">Upload</button>
			</div>
		</form>
	</div>
	<div style="display:flex;flex-direction:column">
		<h1>All current flights</h1>
		{% for item in data[1] %}
			<div style="display:flex;flex-direction:column;padding:25px;margin-bottom:20px;background:grey;box-shadow 0px 10px 0px 5px;">
				<h2>FlightID: {{item[0]}}</h2>
				<div style="display:flex;flex-direction:row;justify-content:space-around">
					<p style="font-size:20px">Company: {{item[1]}}</p>
					<p style="font-size:20px">Start: {{item[2]}}</p>
					<p style="font-size:20px">Destination: {{item[3]}}</p>
					<p style="font-size:20px">Duration: {{item[4]}}</p>
					<p style="font-size:20px">Date: {{item[5]}}</p>
					<p style="font-size:20px">Time: {{item[6]}}</p>
					<p style="font-size:20px">Prize: ${{item[7]}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<div style="display:flex;flex-direction:column">
		<h1>All planes available</h1>
		{% for item in data[0] %}
			<div style="display:flex;flex-direction:column;padding:25px;margin-bottom:20px;background:grey;box-shadow 0px 10px 0px 5px;">
				<h2>PlaneID: {{item[0]}}</h2>
				<div style="display:flex;flex-direction:row;justify-content:space-around">
					<p style="font-size:20px">Rows: {{item[1]}}</p>
					<p style="font-size:20px">Row length: {{item[2]}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
</body>
</html>
