<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tr class= "table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
         {% for row in data %}
         <tr>
            {% for cell in row %}
            <td class="table__cell">{{cell }}</td>
            {% endfor %}
         </tr>
        {% endfor %} 
    </table>
</body>
</html>



